.banner-wrapper {
  width: 100vw;
}

.banner {
  width: 340px;
  margin: 10px auto;
}

.nav {
  position: absolute;
  display: inline;
  top: 20px;
  right: 30px;
  a {
    padding: 0px 10px;
    font-family: $raleway;
    text-decoration: none;
    color: $main;
  }
}

.corner {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -70px;
  padding: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid $main;
  // transform: rotate(0deg);
}
.corner-plus {
  cursor: pointer;
  position: fixed;
  top: -3px;
  left: 12px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: $raleway;
  z-index: 10;
}

.loading {
  color: $mgray;
  font-family: $raleway;
  font-size: 16px;
  text-align: center;
}
