.form-wrapper {
  margin-top: 10px;
  background-color: $lgray;
  padding: 15px 20px;
  text-align: center;
  h3 {
    color: $mgray;
    font-family: $raleway;
    font-size: 28px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 700px;
  padding: 10px 15px;
  border: solid 3px #c9c9c9;
  transition: border 0.3s;
  font-family: $raleway;
  font-size: 20px;
}
input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border:  $dborder;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  background: $main;
  color: white;
  border: 3px solid darken($main, 5);
  font-family: $raleway;
  font-size: 20px;
  &:hover {
    background: lighten($main, 5);
    border-color: $main;
  }
}

.remaining {
  font-family: $raleway;
  font-size: 12px;
  color: $mgray;
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 70vw;
  }
}
