.gallery-wrapper {
  user-select: none;
  position: absolute;
  top: 0px;
  left: 340px;
  margin-top: 15px;
  max-width: 680px;
  input[type="radio"] {
    display: none;
    + label {
      height: $img;
      cursor: pointer;
      img {
        height: $img;
        width: auto;
      }
    }
    &:checked + label {

    }
  }
  .img-wrapper {
    position: relative;
    float: left;
    height: $img;
    width: $img;
    overflow: hidden;
    margin: 0 5px 10px 5px;
    border: $lborder;
    transition: border 0.3s;
  }
  // .img-wrapper-wrapper {
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 672px;
  // }
}
.selected {
  border: $dborder !important;
}

.shoutsubmit {
  display: block;
  margin: 0px auto;
  width: 300px;
}


@media screen and (min-width: 568px) and (max-width: 768px) {
	.gallery-wrapper {
    display: none;
    position: relative;
		margin: 20px auto;
    width: 536px;
    top: auto;
    left: auto;
	}
}

@media screen and (max-width: 567px) {
  .gallery-wrapper {
    display: none;
    position: relative;
		margin: 0px auto;
    width: 268px;
    top: auto;
    left: auto;
  }
}
