$myColor: black;

$susy: (
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  gutter-position: split,
);

@import "node_modules/susy/sass/susy";

h1 {
	color: $myColor;
	+p {
		color: blue;

	}
}

* {
	padding-top: 0.1px; /* collapsing margins fix */
}

html {
	background-color: #BDBDBD;
}

.wrapper {
	@include container(840px);
}

.whisper {
	box-sizing: border-box;
	height: 500px;
	width: 350px;
	padding: 0px 1em;
	margin-bottom: 55px;
	border: 1px solid black;
	border-radius: 5px;
	@include span(isolate 6 of 12 4);
}

.whisper-text {
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	text-shadow: 2px 0 0 #000, -2px 0 0 purple, 0 2px 0 #000, 0 -2px 0 purple, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 0px 15px black;
}

.mdl-card__media div {
	padding: 20px;
	height: 350px;
	color: white;
	font-weight: normal;
	font-size: 1.8em;
  line-height: 1em;
	// background-image: url("http://lorempixel.com/g/580/400/");
	background-color: gray;
	text-shadow: 2px 0 0 #000, -2px 0 0 purple, 0 2px 0 #000, 0 -2px 0 purple, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px 0px 15px black;
}

@media (max-width: 850px) {
	.wrapper {
		@include container(100%);
	}

	.whisper{
		height: 65vw;
		margin-bottom: 5px;
		padding: .8vw 2.2vw;
		@include span(isolate 6 of 12 .25);
	}

	.whisper-text {
		font-size: 5.3vw;
		line-height: 1.2;
	}
}