.preview-wrapper {
  display: inline-block;
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 460px;
  overflow: hidden;
  background-color: #222; //find a pattern
  border-radius: 5px;
  box-shadow: 0px 0px 5px $mgray;
  img{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
  }
  .photo-overlay {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .text-image {
    width: 320px;
    height: 460px;
  }
}

@media screen and (max-width: 768px) {
	.preview-wrapper {
    display: block;
    position: relative;
		margin: 0px auto;
		width: 320px;
    top: auto;
    left: auto;
	}
}
