.arrow-wrapper {
  display: none;
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  width: 320px;
  height: 460px;
  .arrow{
    cursor: pointer;
    position: absolute;
    font-size: 80px;
    top: 50%;
    transform: translateY(-55%);
    color: white;
    text-shadow: 0 0 10px black;
    &[id="leftarrow"] {
      left: 0px;
      z-index: 12;
    }
    &[id="rightarrow"] {
      right: 0px;
      z-index: 12;
    }
  }
}

.preview-wrapper {
  display: inline-block;
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 460px;
  overflow: hidden;
  background-color: #222; //find a pattern
  border-radius: 5px;
  box-shadow: 0px 0px 5px $mgray;
  img{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
  }
  .photo-overlay {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .canvas {
    z-index: 11;
  }
}

@media screen and (max-width: 768px) {
  .arrow-wrapper {
    display: block;
  }
  
  .preview-wrapper {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 320px;
    top: auto;
    left: auto;
  }

}
