<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Preview</title>
	<style type="text/css">
		body {
			padding: 0;
			margin: 0;
		}
		.wrapper {
			position: relative;
			width: 640px;
			height: 920px;
			overflow: hidden;
		}
		.wrapper img {
			position: absolute;
			left: 0;
			top: 0;
			height: 920px;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img class="photo-overlay" src="<%= google_results[0].url %>">
		<img class="text-image" src="<%= main_file_url %>">
	</div>

</body>
</html>