@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,300);
.wrapper {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  head {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 999;
    color: #333;
    background: rgba(255, 255, 255, 0.25); }
  head:before {
    content: "|||";
    display: block;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold; }
  head:hover {
    background: rgba(255, 255, 255, 0.5);
    color: red; }
  head:hover ~ .wrapper,
  head:hover ~ body .wrapper {
    position: relative; }
    head:hover ~ .wrapper:before,
    head:hover ~ body .wrapper:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 102, 255, 0.25)), to(rgba(179, 179, 255, 0.25)));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 25%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  head:hover ~ .container,
  head:hover ~ body .container {
    position: relative; }
    head:hover ~ .container:before,
    head:hover ~ body .container:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 102, 255, 0.25)), to(rgba(179, 179, 255, 0.25)));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 25%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }

body {
  padding: 0;
  margin: 0; }

* {
  padding-top: 0.1px;
  /* collapsing margins fix */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix {
  clear: both; }

/**Angular ngCloak **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.preview-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40%;
  float: left;
  margin: 15px 10px;
  position: relative;
  width: 320px;
  height: 460px;
  overflow: hidden;
  background-color: #222;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #969696;
          box-shadow: 0px 0px 5px #969696; }
  .preview-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  head:hover ~ .preview-wrapper,
  head:hover ~ body .preview-wrapper {
    position: relative; }
    head:hover ~ .preview-wrapper:before,
    head:hover ~ body .preview-wrapper:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 102, 255, 0.25)), to(rgba(179, 179, 255, 0.25)));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 25%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  .preview-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%; }
  .preview-wrapper .photo-overlay {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .preview-wrapper .text-image {
    width: 320px;
    height: 460px; }

.gallery-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  margin-top: 15px;
  width: 780px;
  position: relative; }
  .gallery-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  head:hover ~ .gallery-wrapper,
  head:hover ~ body .gallery-wrapper {
    position: relative; }
    head:hover ~ .gallery-wrapper:before,
    head:hover ~ body .gallery-wrapper:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: " ";
      z-index: 998;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(102, 102, 255, 0.25)), to(rgba(179, 179, 255, 0.25)));
      background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
      background-size: 25%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
  .gallery-wrapper input[type="radio"] {
    display: none; }
    .gallery-wrapper input[type="radio"] + label {
      height: 124px; }
      .gallery-wrapper input[type="radio"] + label img {
        height: 124px;
        width: auto; }
  .gallery-wrapper .img-wrapper {
    float: left;
    height: 124px;
    width: 124px;
    overflow: hidden;
    margin: 0 5px 10px 5px;
    border: 3px solid #c9c9c9;
    -webkit-transition: border 0.3s;
    transition: border 0.3s; }
  .gallery-wrapper .img-wrapper-wrapper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 672px; }

.selected {
  border: solid 3px #969696 !important; }

.shoutsubmit {
  display: block;
  margin: 0px auto;
  width: 300px; }

.form-wrapper {
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 15px 20px;
  text-align: center; }
  .form-wrapper h3 {
    color: #969696;
    font-family: "Raleway", tahoma, sans-serif;
    font-size: 28px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 5px; }

input {
  margin-top: 5px;
  margin-bottom: 5px; }

input[type="text"] {
  width: 700px;
  padding: 10px 15px;
  border: solid 3px #c9c9c9;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 20px; }

input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border: solid 3px #969696; }

input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  background: #6388ff;
  color: white;
  border: 3px solid #4a75ff;
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 20px; }
  input[type="submit"]:hover {
    background: #7d9bff;
    border-color: #6388ff; }

@media (max-width: 768px) {
  input[type="text"] {
    width: 70vw; } }

.shout-card {
  float: left;
  position: relative;
  width: 320px;
  height: 460px;
  -webkit-box-shadow: 0px 0px 5px #969696;
          box-shadow: 0px 0px 5px #969696;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 0px 10px 20px; }
  .shout-card .shout-card-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: white;
    background-size: contain; }
  .shout-card .shout-card-bottom {
    background-color: rgba(245, 245, 245, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 40px;
    -webkit-border-radius: 0px 0px 5px 5px;
            border-radius: 0px 0px 5px 5px;
    z-index: 5; }
    .shout-card .shout-card-bottom p {
      margin: 0;
      font-size: 20px;
      padding: 10px 30px;
      color: red; }

@media (max-width: 768px) {
  .shout-card {
    display: block;
    margin: 20px auto;
    float: none; } }

.banner-wrapper {
  width: 100vw; }

.banner {
  width: 340px;
  margin: 10px auto; }
