@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,300);
.wrapper {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1020px; }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 559px; } }

@media screen and (max-width: 567px) {
  .container {
    margin: 0 auto;
    max-width: 320px; } }

body {
  padding: 0;
  margin: 0; }

* {
  padding-top: 0.1px;
  /* collapsing margins fix */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.clearfix {
  clear: both; }

/**Angular ngCloak **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.preview-wrapper {
  display: inline-block;
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 460px;
  overflow: hidden;
  background-color: #222;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #969696;
          box-shadow: 0px 0px 5px #969696; }
  .preview-wrapper img {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%; }
  .preview-wrapper .photo-overlay {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .preview-wrapper .text-image {
    width: 320px;
    height: 460px; }

@media screen and (max-width: 768px) {
  .preview-wrapper {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 320px;
    top: auto;
    left: auto; } }

.gallery-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0px;
  left: 340px;
  margin-top: 15px;
  max-width: 680px; }
  .gallery-wrapper input[type="radio"] {
    display: none; }
    .gallery-wrapper input[type="radio"] + label {
      height: 124px;
      cursor: pointer; }
      .gallery-wrapper input[type="radio"] + label img {
        height: 124px;
        width: auto; }
  .gallery-wrapper .img-wrapper {
    position: relative;
    float: left;
    height: 124px;
    width: 124px;
    overflow: hidden;
    margin: 0 5px 10px 5px;
    border: 3px solid #c9c9c9;
    -webkit-transition: border 0.3s;
    transition: border 0.3s; }

.selected {
  border: solid 3px #969696 !important; }

.shoutsubmit {
  display: block;
  margin: 0px auto;
  width: 300px; }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .gallery-wrapper {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 536px;
    top: auto;
    left: auto; } }

@media screen and (max-width: 567px) {
  .gallery-wrapper {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 268px;
    top: auto;
    left: auto; } }

.form-wrapper {
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 15px 20px;
  text-align: center; }
  .form-wrapper h3 {
    color: #969696;
    font-family: "Raleway", tahoma, sans-serif;
    font-size: 28px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 5px; }

input {
  margin-top: 5px;
  margin-bottom: 5px; }

input[type="text"] {
  width: 700px;
  padding: 10px 15px;
  border: solid 3px #c9c9c9;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 20px; }

input[type="text"]:focus,
input[type="text"].focus {
  outline: none;
  border: solid 3px #969696; }

input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  background: #6388ff;
  color: white;
  border: 3px solid #4a75ff;
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 20px; }
  input[type="submit"]:hover {
    background: #7d9bff;
    border-color: #6388ff; }

.remaining {
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 12px;
  color: #969696; }

@media (max-width: 768px) {
  input[name="searchform"].ng-dirty span, input[name="searchform"].ng-dirty i {
    color: red; }
  #web-next {
    display: none; }
  input[type="text"] {
    width: 70vw; } }

.shout-card {
  float: left;
  position: relative;
  width: 320px;
  height: 460px;
  -webkit-box-shadow: 0px 0px 5px #969696;
          box-shadow: 0px 0px 5px #969696;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 0px 10px 20px;
  padding: 0; }
  .shout-card .shout-card-top {
    margin-top: -1px;
    width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: white;
    background-size: contain; }
  .shout-card .shout-card-bottom {
    background-color: rgba(245, 245, 245, 0.8);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    -webkit-border-radius: 0px 0px 5px 5px;
            border-radius: 0px 0px 5px 5px;
    z-index: 5; }
    .shout-card .shout-card-bottom p {
      margin: 0;
      font-size: 20px;
      padding: 10px 30px;
      color: red; }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .shout-card {
    width: 176px;
    height: 253px;
    margin: 0 5px 10px; }
    .shout-card .shout-card-bottom {
      height: 22px; } }

@media screen and (max-width: 567px) {
  .shout-card {
    width: 144px;
    height: 207px;
    margin: 0 5px 10px; }
    .shout-card .shout-card-bottom {
      height: 18px; } }

.banner-wrapper {
  width: 100vw; }

.total-wrapper {
  position: relative;
  height: 100%;
  padding-bottom: 100px; }

.banner {
  width: 340px;
  margin: 10px auto; }

.banner a img {
  width: 340px;
  height: auto; }

.nav {
  position: absolute;
  display: inline;
  top: 20px;
  right: 30px; }
  .nav a {
    padding: 0px 10px;
    font-family: "Raleway", tahoma, sans-serif;
    text-decoration: none;
    color: #6388ff; }

.corner {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -70px;
  padding: 0;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid #6388ff;
  z-index: 9; }

.corner-plus {
  cursor: pointer;
  position: fixed;
  top: -3px;
  left: 12px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: "Raleway", tahoma, sans-serif;
  z-index: 10; }

.loading {
  color: #969696;
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 16px;
  text-align: center; }

.mobile-menu {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0px 0px 2px #333;
          box-shadow: 0px 0px 2px #333;
  z-index: 15; }
  .mobile-menu span, .mobile-menu i {
    position: fixed;
    bottom: 24px;
    left: 50%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%);
    font-size: 24px;
    color: white;
    z-index: 17; }
  .mobile-menu .main-button-deactive {
    pointer-events: none;
    cursor: default;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #8a9dd8;
    width: 80px;
    height: 80px;
    z-index: 16;
    border: 4px solid #f5f5f5;
    -webkit-box-shadow: 0 0 0px 2px #969696;
            box-shadow: 0 0 0px 2px #969696;
    color: #969696; }
  .mobile-menu .main-button, .mobile-menu input {
    pointer-events: auto;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #6388ff;
    width: 80px;
    height: 80px;
    z-index: 16;
    border: 4px solid #f5f5f5;
    -webkit-box-shadow: 0 0 0px 2px #969696;
            box-shadow: 0 0 0px 2px #969696;
    color: white;
    font-size: 24px; }
    .mobile-menu .main-button:hover, .mobile-menu input:hover {
      background-color: #7d9bff;
      border: 4px solid #f5f5f5; }
    .mobile-menu .main-button:focus, .mobile-menu input:focus {
      outline: none; }

@media screen and (max-width: 768px) {
  .banner {
    width: 300px;
    margin: 10px auto; }
  .banner a img {
    width: 300px;
    height: auto; }
  .corner-plus, .corner {
    display: none; }
  .mobile-menu {
    display: block; }
  #web-submit {
    display: none; } }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 100%;
  min-height: 100%;
  z-index: 10; }

.loading {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 100;
  color: white; }
  .loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 2s infinite;
            animation: ellipsis steps(4, end) 2s infinite;
    content: "\2026";
    width: 0px; }

.inner {
  color: #6388ff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Raleway", tahoma, sans-serif;
  font-size: 22px;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.bar1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  color: #6388ff;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #aaa;
  background-color: transparent; }

.bar2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  color: #6388ff;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #969696;
  border-right: 2px solid #969696;
  background-color: transparent; }

.bar3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: white;
  height: 70px;
  width: 70px;
  border-top: 3px solid #6388ff;
  border-bottom: 3px solid #6388ff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.bar3ish {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  color: white;
  height: 65px;
  width: 65px;
  border-bottom: 8px solid #6388ff;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  background-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn); } }

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1turn);
            transform: translate(-50%, -50%) rotate(1turn); } }

@-webkit-keyframes ellipsis {
  to {
    width: 20px; } }

@keyframes ellipsis {
  to {
    width: 20px; } }
