<a href="/">
  <div class="corner"></div>
  <div class="corner-icon"><i class="fa fa-home"></i></div>
</a>

<div class="form-wrapper">
  <h3 ng-if="!create.canPreview">Share Your Secrets</h3>
  <form class="glow" ng-submit="create.getImages()" name="searchform">
    <input class="glow" type="text" ng-focus="create.focused = true" ng-blur="create.focused = false" placeholder="Enter Your Text" name="text" maxlength="200" ng-model="create.search" autofocus autocomplete="off">
    <input type="submit" name="submit" value="Next" id="web-next">
    <div class="remaining">{{200 - create.search.length}}</div>
    <div class="mobile-menu"  ng-if="!create.canPreview || create.focused">
      <a href="/" class="link-item" id="homebtn"><span class="fa fa-home"></span></a>
      <a href="/" class="link-item" id="messagesbtn"><span class="fa fa-comments"></span></a>
      <div class="main-button-deactive" ng-class="{'main-button' : searchform.$dirty}" ng-click="create.getImages()">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </form>
</div>

<div id="loader" ng-if="create.isLoading">
	<div class="bar1"></div>
	<div class="bar2"></div>
	<div class="bar3"></div>
	<!-- <div class="bar3ish"></div> -->
	<div class="inner">S</div>
	<h1 class="loading">Loading</h1>
</div>


<div class="container">
  <canvas id="preview-canvas" width="640" height="920" style="display: none"></canvas>
  <canvas id="finished-canvas" width="640" height="920" style="display: none"></canvas>
  <div id="dataHolder"></div>

  <div class="arrow-wrapper" ng-show="create.canPreview">
    <div class="arrow" id="leftarrow"><span class="fa fa-angle-left" ng-click="create.prevImg()" ng-hide="create.curr === 0"></span></div>
    <div class="arrow" id="rightarrow"><span class="fa fa-angle-right" ng-click="create.nextImg()" ng-hide="create.curr === create.returnedImages.length - 1"></span></div>
  </div>
  <div class="preview-wrapper" ng-show="create.canPreview">
    <img width="320" height="460" class="canvas" id="canvasImage"/>
    <img class="photo-overlay" ng-src="{{create.returnedImages[create.curr].full}}">
  </div>

  <div class="gallery-wrapper">
    <div class="img-wrapper-wrapper">
    <form class="radio-gallery" ng-submit="create.postShout()">
      <div class="img-wrapper" ng-repeat="(index, image) in create.returnedImages"  ng-class="{'selected' : index == create.curr}">
        <input type="radio" name="gallery" value="{{index}}" id="thumb-{{index}}" ng-model="create.curr" ng-click="create.textifyImage()">
        <label class="gallery-item" for="thumb-{{index}}" style="background-image: url('{{image.thumb}}');"></label>
        <img ng-src="{{image.full}}" style="display:none">
      </div>
      <div class="clearfix"></div>
      <input type="submit" value="Shout It Out" class="shoutsubmit" id="web-submit" ng-if="create.canPreview">
    </form>
  </div>
  </div>

  <div class="mobile-menu" ng-if="create.canPreview && !create.focused">
    <a href="/" class="link-item" id="homebtn"><span class="fa fa-home"></span></a>
    <a href="/" class="link-item" id="messagesbtn"><span class="fa fa-comments"></span></a>
    <div class="main-button" ng-click="create.postShout()"><i id="shoutbtn">S</i></div>
  </div>
</div>
