<div class="form-wrapper">
  <h3 ng-if="!create.canPreview">Share Your Secrets</h3>
  <form class="glow"  ng-submit="create.getImages()">
    <input class="glow" type="text" placeholder="Enter Your Text" name="text" maxlength="200" ng-model="create.search" autofocus autocomplete="off">
    <input type="submit" name="submit" value="Next">
    <div class="remaining">{{200 - create.search.length}}</div>
  </form>
</div>

<div id="loader" ng-if="create.isLoading">
	<div class="bar1"></div>
	<div class="bar2"></div>
	<div class="bar3"></div>
	<!-- <div class="bar3ish"></div> -->
	<div class="inner">S</div>
	<h1 class="loading">Loading</h1>
</div>

<div class="mobile-menu"  ng-if="!create.canPreview">
  <div class="main-button-deactive">
  </div>
</div>

<div class="container">
  <div class="preview-wrapper" ng-if="create.canPreview">
    <img class="photo-overlay" ng-src="{{create.returnedImages[create.curr].full}}">
    <img class="text-image" ng-src="{{create.transImg}}">
  </div>
  <div class="gallery-wrapper">
    <div class="img-wrapper-wrapper">
    <form class="radio-gallery" ng-submit="create.postShout()">
      <div class="img-wrapper" ng-repeat="(index, image) in create.returnedImages"  ng-class="{'selected' : index == create.curr}">
        <input type="radio" name="gallery" value="{{index}}" id="thumb-{{index}}" ng-model="create.curr">
        <label for="thumb-{{index}}"><img ng-src="{{image.thumb}}" class="gallery-item"></label>
      </div>
      <div class="clearfix"></div>
      <input type="submit" value="Shout It Out" class="shoutsubmit" id="web-submit" ng-if="create.canPreview">
      <div class="mobile-menu" ng-if="create.canPreview">
        <input type="submit" value="S" class="shoutsubmit">
        </div>
      </div>
    </form>
  </div>
  </div>
</div>
