<a href="/create">
  <div class="corner"></div>
  <div class="corner-icon"><i class="fa fa-plus"></i></div>
</a>

<div class="mobile-menu">
  <a href="/" class="link-item" id="homebtn"><span class="fa fa-home"></span></a>
  <a href="/" class="link-item" id="messagesbtn"><span class="fa fa-comments"></span></a>
  <a href="/create" class="main-button">
    <i class="fa fa-plus"></i>
  </a>
</div>

<div class="container" infinite-scroll="main.nextPage()" infinite-scroll-distance="2">
  <div class="shout-card" ng-repeat="(index, shout) in main.shouts">
    <div class="clearfix" ng-if="index % 2 == 0"></div>
    <img  ng-src="{{shout.imagePath}}" class="shout-card-top" />
    <div class="shout-card-bottom"><p></p></div>
  </div>
  <div class="clearfix"></div>
</div>
